@import 'inter-ui/inter.css';
@import './fontface';
@import './helpers';
@import './normalize';
@import './global';

:root {
  --aside-width: 280px;
  --aside-bg: rgba(251, 251, 253, 0.8);
  --max-width: calc(100vw - var(--aside-width));
}

/**
  *
  * read first.
  */

html.fonts-loaded body {
  opacity: 1 !important;
}

body {
  transition: opacity #{$duration / 6 + 's'} ease-in !important;

  display: flex;
  flex-direction: column;
  overflow-x: hidden;
  scroll-behavior: smooth;
  padding: 0;
  margin: auto;

  // margin-left: var(--aside-width) !important;
}

main .main-content {
  padding-bottom: 60px !important;
  margin-bottom: 60px !important;
}

.component-wrapper {
  padding-top: 3rem !important;
  padding-bottom: 3rem !important;
  border: 1px solid #dddddd !important;
}
